# Настройки FunPay
FUNPAY_TOKEN=your_funpay_token

# Настройки Telegram бота
TELEGRAM_TOKEN=your_telegram_bot_token
TELEGRAM_ADMIN_ID=your_telegram_user_id

# Настройки Steam
STEAM_API_KEY=your_steam_api_key

# Настройки браузера
BROWSER_HEADLESS=True
